[submodule "addons/logerr"]
	path = addons/logerr
	url = git@github.com:TopScales/logerr.git
[submodule "godot/source"]
	path = godot/source
	url = git@github.com:TopScales/godot.git
[submodule "godot/modules/limboai"]
	path = godot/modules/limboai
	url = git@github.com:TopScales/limboai.git
